:root {
    --clr1: #007bff;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body {
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter {
    padding: 5px 10px 5px 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all ease;
}
.filter__item {
    min-width: 150px;
    padding: 10px 35px 10px 10px;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    transition: all 0.5s ease;
    overflow: hidden;
    background-color: var(--clr1);
}
.filter__item:first-child {
    border-top-right-radius: 5px;
}

.filter__item:hover {
    background-color: var(--clr1);
    transition: all 1s ease;
}

.table{
    display: none;
    flex-direction: column;
    max-width: 1050px;
}
.week-days{
    display: flex;
    border: 1px solid #333;
}
.week-day{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid #495057; */
    writing-mode: vertical-rl;
}
.week-day__title{
    font-size: 35px;
    color: #0006;
    text-align: center;
}
.week-inputs{
    display: flex;
    flex-basis: 80%;
    flex-wrap: wrap;
    max-width: 833px;
    flex-grow: 0;
    padding: 4px 0;
    border-left: 1px solid #333;
}
.inputs {
    flex-basis: 100%;
    flex-grow: 0;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5px;
}

.lesson-input{
    max-height: 25px;
    padding: 2px 5px;
    color: #495057;
    border: 1px solid #ced4da;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    border-radius: .25rem;
    margin-left: 4px;
}
.lesson-select {
    min-width: 201px;
}

.btn {
    max-height: 30px;
    padding: 4px 15px;
    margin: 8px 0px;
    font-size: 1rem;
    background-color: var(--clr1);
    border-color: var(--clr1);
    font-weight: 400;
    color: #fff;
    border-radius: .25rem;

}
.btn1 {
    /* display: block; */
    /* max-width: 150px; */
    width: 10%;
    padding: 6px 15px;
    margin: 25px 0 0 0;
    max-width: 150px;
    height: 25px;
    align-self: flex-end;
    border: none;
    border-color: #28a745;
    border-radius: .25rem;
    background-color: #28a745;
    color: #fff;

}
.add-btn {
    position: relative;
    left: 90%;
    /* transform: translateX(-100%); */
}
