:root {
    --clr1: #007bff;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body {
    padding-top: 40px;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter {
    padding: 5px 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all ease;
}
.filter__item {
    padding: 5px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    transition: all 0.5s ease;
    overflow: hidden;
}
.filter__item:hover {
    background-color: var(--clr1);
    color: #fff;
    transition: all 1s ease;
}



.table{
    display: flex;
    flex-direction: column;
    max-width: 1050px;
}
.week-days{
    display: flex;
    border: 1px solid #495057;
}
.week-day{
    flex-basis: 20%;
    border-right: 1px solid #495057;
}
.week-day__title{
    font-size: 35px;
}
.week-inputs{
    display: flex;
    flex-basis: 80%;
    flex-wrap: wrap;
    padding: 4px 0;
}
.inputs {
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.lesson-input{
    padding: 2px 5px;
    color: #495057;
    border: 1px solid #ced4da;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    border-radius: .25rem;
    margin-left: 4px;
}
.lesson-select {
    min-width: 201px;
}

.btn {
    padding: 4px 15px;
    margin: 8px 0px;
    font-size: 1rem;
    background-color: var(--clr1);
    border-color: var(--clr1);
    font-weight: 400;
    color: #fff;
    border-radius: .25rem;

}
.add-btn {
    position: relative;
    left: 90%;
    /* transform: translateX(-100%); */
}
.lessons-out {
    display: flex;
    justify-content: center;
}