:root {
    --clr1: #3d3d3d;
    --clr2: #666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

a, ul, li, div {
    list-style: none;
    text-decoration: none;
}

body {
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******************************** Menu *************************************/

.side {
    width: 200px;
    margin: 20px;
}

.side.non-active {
    display: none;
}

.menu a {
    background-color: #3d3d3d;
    color: #fff;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #666;
    transition: 0.5s all;
}

.menu li:first-child a, .menu li .menu__drop li:first-child a {
    border-radius: 3px 3px 0 0;
}

.menu li:last-child a, .menu li .menu__drop li:last-child a {
    border-radius: 0 0 3px 3px;
    border-bottom: 0;
}

.menu li .menu__drop li a {
    border-radius: 0;
    border-bottom: 1px solid #666;
}

.menu a:hover {
    background-color: #666;
    padding: 10px 0 10px 20px;
}

.menu__list {
    position: relative;
}

.menu__drop {
    position: absolute;
    width: 100%;
    left: 100%;
    top: -9999em;
    opacity: 0;
    border-left: 10px solid transparent;
    transition: 0.5s opacity;
}

.menu__list:hover .menu__drop {
    opacity: 1;
    top: 0;
}

.menu__list::after {
    content: " ";
    position: absolute;
    border: 5px solid;
    border-color: transparent transparent transparent #eee;
    top: 1em;
    right: 0.7em;
    transition: 0.5s;
}

.menu__list:hover::after {
    transform: scaleX(-1);
}

/**************************************** Menu ******************************************/
/* ************************************** Table *****************************************/

.table-title {
    text-align: center; 
    font-size: 24px; 
    text-transform: uppercase;
    padding: 15px 0;
}

.table-title__item {}

.table {
    display: none;
}

.table.active {
    display: block;
}

.week-days {
    display: flex;
    border: 1px solid #333;
    min-height: 206px;
}

.week-day {
    position: relative;
    writing-mode: vertical-rl; 
    margin: auto 0;
    padding: 10px 8px;
}
.week-days:last-child .week-day {
    padding: 0;
}

.week-day__title {
    font-size: 35px;
    color: #0006;
    text-align: center;
    transform: rotateZ(-180deg);
}

.week-inputs {
    padding: 4px 5px;
    border-left: 1px solid #333; 
    position: relative;
}

.inputs {
    margin-bottom: 5px;
    flex-wrap: nowrap;
}

.lesson-input {
    max-height: 25px;
    padding: 2px 5px;
    color: #495057;
    border: 1px solid #ced4da;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    border-radius: .25rem;
    margin-left: 4px;
}

.lesson-select {
    min-width: 201px;
}

.btn {
    max-height: 30px;
    padding: 4px 15px;
    margin: 8px 0px;
    font-size: 1rem;
    background-color: var(--clr1);
    border-color: var(--clr1);
    font-weight: 400;
    color: #fff;
    border-radius: .25rem;
}

.btn1 {
    padding: 8px 35px;
    margin: 25px 0;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    border: none;
    border-color: #3d3d3d;
    border-radius: .25rem;
    background-color: #3d3d3d;
    font-size: 16px;
    color: #fff;
}

.add-btn {
    position: relative;
    left: 90%;
    
}

/* ************************************* Table ***************************************** */